*,
*::before,
*::after {
  box-sizing: border-box;
}

.Toastify__toast--error {
  font-size: 14px;
  width: 350px;
}

.habits-container {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(260px, 330px));
  grid-gap: 1rem;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #854695;
}
